<h3>Gerenciamento de produtos</h3>

<p-toolbar>
  <div class="p-toolbar-group-start">
    <p-button
      [routerLink]="['criar']"
      routerLinkActive="router-link-active"
      pTooltip="Adicionar"
      icon="pi pi-plus"
      class="mr-2"
    />
  </div>
</p-toolbar>

<p-table
  #dt2
  [value]="(lojas$ | async) || []"
  dataKey="id"
  [rows]="10"
  [rowsPerPageOptions]="[10, 25, 50]"
  [loading]="loading"
  [paginator]="true"
  [globalFilterFields]="[
    'name',
    'country.name',
    'representative.name',
    'status',
  ]"
  [tableStyle]="{ 'min-width': '75rem' }"
>
  <ng-template pTemplate="caption"> </ng-template>
  <ng-template pTemplate="header">
    <tr>
      <th style="width: 20%">Nome</th>
      <th style="width: 30%">Descrição</th>
      <th style="width: 10%">Esgotado?</th>
      <th style="width: 10%">Pausado?</th>
      <th style="width: 10%">Estoque</th>
      <th style="width: 10%">Status</th>
      <th style="width: 10%">Ação</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-loja>
    <tr>
      <td>
        {{ loja.urlEndpoint }}
      </td>

      <td>
        {{ loja.descricao }}
      </td>
      <td>
        {{ loja.ativo ? "Sim" : "Não" }}
      </td>
      <td>
        <div class="flex vertical-align-middle gap-3">
          <p-button
            icon="pi pi-pencil"
            [rounded]="true"
            severity="info"
            [routerLink]="['/loja', loja.id]"
            routerLinkActive="router-link-active"
          />
          <p-button icon="pi pi-times" [rounded]="true" severity="danger" />
        </div>
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="emptymessage">
    <tr>
      <td colspan="5">No customers found.</td>
    </tr>
  </ng-template>
</p-table>
